@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    min-height: 100vh;
  }

  body {
    background: radial-gradient(circle at center, #803da4 0%, #240025 100%);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #773877;
    border-radius: 10px;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #8f4a8f;
  }
}
