@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    min-height: 100vh;
  }

  body {
    background: radial-gradient(circle at center, #ae62d7 0%, #7e38a4 25%, #511571 50%, #34084b 75%, #240025 100%);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
